/* line 1, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body {
  padding: 48px 0;
}
/* line 3, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container {
  width: 712px;
}
/* line 8, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #header #logo img {
  width: 344px;
}
/* line 10, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #header div {
  float: left;
  clear: both;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/* line 16, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #header div p {
  border: 0;
  float: left;
  clear: none;
  margin: 8px;
  padding: 0;
  line-height: 24px;
}
/* line 23, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #header div #nav {
  float: right;
  clear: none;
  background: transparent;
  margin: 8px;
}
/* line 28, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #header div #nav ul {
  height: 24px;
}
/* line 30, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #header div #nav ul li {
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
}
/* line 34, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #header div #nav ul li a {
  color: black;
  margin: 0 0 0 24px;
  padding: 0;
}
/* line 39, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #content #home {
  padding: 0 24px;
}
/* line 41, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #content #blog {
  width: 736px;
  float: left;
}
/* line 44, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
body #container #content .post {
  padding: 0 24px 24px 0;
  max-width: 344px;
  float: left;
  clear: none;
}
