/* line 17, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
h1, h2, h3, h4, h5 {
  font-family: "futura-pt", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 20, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
a {
  color: black;
}

/* line 23, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body {
  font-family: "ff-tisa-web-pro", serif;
  background: url(../images/background.jpg) top center no-repeat;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
}
/* line 29, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container {
  background: white;
  padding: 24px;
  margin: auto;
  width: 252px;
}
/* line 34, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container #header {
  font-family: "futura-pt", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #2c2c2c;
  text-align: center;
}
/* line 38, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container #header #logo {
  margin: 0;
}
/* line 40, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container #header #logo img {
  width: 100%;
  display: block;
  margin: auto;
}
/* line 44, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container #header p {
  line-height: 20px;
}
/* line 46, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container #header #nav {
  margin-top: 24px;
  clear: both;
  font-size: 16px;
  line-height: 24px;
  background: black;
}
/* line 52, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container #header #nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 49, /Users/samuelcotterall/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
body #container #header #nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 55, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container #header #nav ul a {
  color: white;
  text-decoration: none;
  padding: 6px 0;
  margin: 0 12px;
  display: block;
}
/* line 61, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container #content {
  padding: 24px 0;
}
/* line 63, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/screen.sass */
body #container #footer {
  padding: 24px 0;
  border-top: 1px solid #2c2c2c;
}
