/* line 18, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
h1, h2, h3, h4, h5 {
  font-family: "futura-pt", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 21, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
a {
  color: black;
}

/* line 24, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body {
  font-family: "Courier", "Courier New", monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
}
/* line 29, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container {
  background: white;
  padding: 24px;
  margin: auto;
  width: 252px;
}
/* line 34, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #header {
  font-family: "futura-pt", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #2c2c2c;
  text-align: center;
}
/* line 38, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #header #logo {
  margin: 0 0 24px 0;
}
/* line 40, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #header #logo img {
  width: 100%;
  display: block;
  margin: auto;
}
/* line 44, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #header p {
  font-family: "Courier", "Courier New", monospace;
  letter-spacing: 1px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 0;
  line-height: 20px;
  display: inline-block;
  width: auto;
}
/* line 53, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #header #nav {
  margin-top: 24px;
  clear: both;
  font-size: 16px;
  line-height: 24px;
  background: black;
}
/* line 59, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #header #nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 49, /Users/samuelcotterall/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
body #container #header #nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 62, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #header #nav ul a {
  color: white;
  text-decoration: none;
  padding: 6px 0;
  margin: 0 12px;
  display: block;
}
/* line 68, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #header #nav ul .active {
  color: #a5322e;
}
/* line 70, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #content {
  padding: 24px 0;
  clear: both;
}
/* line 73, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #content .post {
  padding-bottom: 24px;
}
/* line 76, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #content .post .media img {
  margin: auto;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
/* line 81, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #content .post .footer, body #container #content .post .copy, body #container #content .post .source_url {
  display: none;
}
/* line 83, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
body #container #footer {
  clear: both;
  padding: 24px 0;
  border-top: 1px solid #2c2c2c;
}

/* line 89, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/base.sass */
#header.info {
  padding: 0;
}

@media (min-width:480px) {
  /* line 2, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/480.sass */
  body {
    background: url(../images/background.jpg) top center no-repeat;
    background-attachment: fixed;
  }
  /* line 5, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/480.sass */
  body #container {
    width: 344px;
  }
}
@media (min-width:780px) {
  /* line 1, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
  body {
    padding: 48px 0;
  }
  /* line 3, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
  body #container {
    width: 712px;
  }
  /* line 8, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
  body #container #header #logo img {
    width: 344px;
  }
  /* line 10, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
  body #container #header div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  /* line 13, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
  body #container #header div p {
    border: 0;
    float: left;
  }
  /* line 16, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
  body #container #header div #nav {
    float: right;
  }
  /* line 19, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
  body #container #content #blog {
    width: 736px;
    float: left;
  }
  /* line 22, /Users/samuelcotterall/Sites/intheroomprintco.com/sass/780.sass */
  body #container #content .post {
    padding: 0 24px 24px 0;
    max-width: 344px;
    float: left;
    clear: none;
  }
}
