body
  padding: 48px 0
  #container
    width: 712px
    #header

      #logo
        img
          width: 344px
      div 
        border-top: 1px solid #000
        border-bottom: 1px solid #000
        p
          border: 0
          float: left
        #nav
          float: right
    #content
      #blog
        width: 736px 
        float: left
      .post
        padding: 0 24px 24px 0
        max-width: 344px
        float: left
        clear: none
