---
title: In The Room Print Co. 
---



<article>
  <p>In the Room Print Co. have been supplying shops, bands and record labels with high quality hand-printed t-shirts, tote bags, posters, record sleeves, badges and stickers since 2010. We can print up humble 1 colour runs through to 6 colour giganto-mega orders and like to tackle each job with the love and enthusiasm that your design deserves, all with a lightning-paced turnaround.</p> 
  <p>Based in Liverpool, UK, we formed our business after printing up t-shirts for our own band and were soon asked to provide the same service for friends and folks we met on the road. As we enter our third year of business we’re happy to boast a client list including record labels Moshi Moshi and Witchita, bands such as Maximo Park, Frankie and the Heartstrings, Mugstar and Slow Club and European Skateshop of the Year; Liverpool’s Lost Art.</p>
  <p>Alongside our top-class printing, we also offer a design service.</p>
</article>
